# folder to ignore
**/.vscode/
**/config/
**/__pycache__/
**/resolution/reso*
ptweights/weights/
mltraining/models/

# test files to ignore
test*
*.pyc

# compilation files to ignore
*.so
*.pcm
*_dict.cxx
