operations:
    preprocess_data: False
    preprocess_mc: False
    make_yaml: true
    proj_data: true
    proj_mc: False
    efficiencies: False
    get_vn_vs_mass: true
    do_cut_variation: False
    data_driven_fraction: False
    get_v2_vs_frac: False

outdir: '/home/wuct/MetaData/DATA/OO/apass2/sp/result/flook_corrected_evt_sels'
outdirPrep: '/home/wuct/MetaData/DATA/OO/apass2/sp/result/flook_corrected_evt_sels' 
suffix: 'flook_corrected_evt_sels'
centrality: 'k010'
Dmeson: 'Dzero'
nworkers: 18

# pt bins
ptbins: [
        0,
        1,
        2,
        3,
        5,
        8,
        12,
        24
       ]

# cut variation
cut_variation:
    corr_bdt_cut:
        bkg_max: [0.01, 0.01, 0.01, 0.01, 0.015, 0.015, 0.03, 0.05, 0.10, 0.15, 0.18, 0.18, 0.30, 0.30, 0.30]
        sig: # the max value is not contained in the range
            min: [0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.02, 0.02, 0.01, 0.01, 0.01, 0.01, 0.01]
            max: [0.90, 0.90, 0.90, 0.90, 0.90, 0.90, 0.90, 0.90, 0.90, 0.90, 0.90, 0.90, 0.90, 0.90]
            step: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
        skip_cuts: [    # index of the specific cuts to skip for each pt bin
                [18,19,20,21,22,23,24,25], # pt 1
                [26], # pt 2
                [24,25,26], # pt 3
                [], # pt 4
                [], # pt 5
                [], # pt 6
                [], # pt 7
                [], # pt 8
                [], # pt 9
                [22,23,24,25,26], # pt 10
                [22,23,24,25,26], # pt 11
                [22,23,24,25,26], # pt 12
                [21,22,23,24,25,26], # pt 13
                [21,22,23,24,25,26], # pt 14
                [5,9], # pt 15
            ]
    uncorr_bdt_cut:
        bkg_max: # max probability for bkg, one for each pt bin
            - [0.01, 0.02, 0.008, 0.002] # pt 1
            - [0.04, 0.02, 0.02, 0.002] # pt 2
            - [0.03, 0.03, 0.01, 0.006, 0.002] # pt 3
            - [0.06, 0.06, 0.01, 0.006, 0.004] # pt 4
            - [0.06, 0.06, 0.03, 0.01, 0.004] # pt 5
            - [0.1, 0.07, 0.03, 0.004, 0.006] # pt 6
            - [0.03, 0.01, 0.006, 0.006, 0.004] # pt 7
            - [0.03, 0.1, 0.04, 0.01, 0.004] # pt 8
            - [0.02, 0.02, 0.02, 0.006, 0.002] # pt 9
            - [0.024, 0.024, 0.024, 0.004, 0.002] # pt 10
            - [0.006, 0.006, 0.002, 0.002] # pt 11
            - [0.006, 0.006, 0.002, 0.002] # pt 12
            - [0.15, 0.15, 0.15, 0.05] # pt 13
            - [0.09, 0.06, 0.06] # pt 14
        sig:
            - [0.00, 0.40, 0.70, 0.90, 1.00] # pt 1
            - [0.00, 0.50, 0.70, 0.90, 1.00] # pt 2
            - [0.00, 0.20, 0.45, 0.75, 0.90, 1.00] # pt 3
            - [0.00, 0.30, 0.50, 0.75, 0.90, 1.00] # pt 4
            - [0.00, 0.30, 0.50, 0.70, 0.85, 1.00] # pt 5
            - [0.00, 0.25, 0.40, 0.70, 0.90, 1.00] # pt 6
            - [0.00, 0.25, 0.45, 0.65, 0.85, 1.00] # pt 7
            - [0.00, 0.25, 0.45, 0.65, 0.85, 1.00] # pt 8
            - [0.00, 0.25, 0.45, 0.65, 0.85, 1.00] # pt 9
            - [0.00, 0.25, 0.45, 0.65, 0.85, 1.00] # pt 10
            - [0.00, 0.30, 0.50, 0.75, 1.00] # pt 11
            - [0.00, 0.40, 0.60, 0.75, 1.00] # pt 12
            - [0.00, 0.40, 0.60, 0.75, 1.00] # pt 13
            - [0.00, 0.50, 0.70, 1.00] # pt 14


projections:
    PtWeightsFile: '/home/mdicosta/alice/hf-vn/ptweights/weights/Dplus/k3050/pTweight_Dplus_k3050_test_Dplus.root'
    ApplyPtWeightsD: False
    ApplyPtWeightsB: False
    ApplyBSpeciesWeights: False
    storeML: False
    inv_mass_bins: [
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,1.98,2.02], # pt 1
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.87,1.88,1.90,1.92,1.94,1.96,1.98,2.02], # pt 2
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.87,1.88,1.90,1.92,1.94,1.96,1.98,2.02], # pt 3
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.87,1.88,1.90,1.92,1.94,1.96,1.98,2.02], # pt 4
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.87,1.88,1.90,1.92,1.94,1.96,1.98,2.02], # pt 5
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.87,1.88,1.90,1.92,1.94,1.96,1.98,2.02], # pt 6
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.87,1.88,1.90,1.92,1.94,1.96,1.98,2.02], # pt 7
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,1.98,2.00,2.04], # pt 8
                    [1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,1.98,2.00,2.04], # pt 9
                    [1.70,1.74,1.76,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,1.98,2.04], # pt 10
                    [1.70,1.74,1.76,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,1.98,2.04], # pt 11
                    [1.68,1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,1.98,2.02,2.06], # pt 12
                    [1.68,1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,1.98,2.02,2.06], # pt 13
                    [1.68,1.72,1.76,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,1.98,2.02,2.06], # pt 14
                    [1.66,1.70,1.74,1.78,1.80,1.82,1.84,1.86,1.88,1.90,1.92,1.94,1.96,2.0,2.04,2.08] # pt 15
                ]

preprocess:
    data:
        '2023':
            files: /home/wuct/MetaData/DATA/OO/apass2/sp/flook_corrected_evt_sels
            resolution: '/home/wuct/MetaData/DATA/OO/apass2/resolution/resosp010.root'
        # Possibility to add more datasets, each with its resolution
        # '2024':
        #     files: [
        #         /home/mdicosta/alice/hf-vn/datasets/Data_Dplus_3050.root
        #     ]
        #     resolution: '/home/mdicosta/alice/hf-vn/datasets/resosp3050l_PASS4_full_PbPb_Reso.root'
    mc: '/home/mdicosta/alice/hf-vn/datasets/MC_Dplus_3050_vsphi_ptsmear20.root'
    axes_data: {
        axis_names: ['Mass', 'sp', 'score_bkg', 'score_FD'],
        rebin_factors: [1, 1, 1, 1]
    }
    axes_reco: {
        axis_names: ['Mass', 'Pt', 'score_bkg', 'score_FD'],
        rebin_factors: [1, 1, 1, 1]
    }
    axes_gen: {
        axis_names: ['Pt', 'cent'],
        rebin_factors: [1, 1]
    }
    workers: 1
    bkg_cuts: [0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3]

simfit:
    Sigma: [0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02]
    MassFitRanges: [
            [1.72, 2.02],
            [1.72, 2.02],
            [1.72, 2.02],
            [1.72, 2.02],
            [1.72, 2.02],
            [1.72, 2.02],
            [1.72, 2.02],
            [1.72, 2.04],
            [1.72, 2.04],
            [1.70, 2.04],
            [1.70, 2.04],
            [1.68, 2.06],
            [1.68, 2.06],
            [1.68, 2.06],
            [1.66, 2.08],
           ]
    BkgFunc: [ 'kExpo', 'kExpo', 'kExpo', 'kExpo', 'kExpo', 'kExpo', 'kExpo', 'kExpo', 'kExpo', 'kExpo', 'kExpo', 'kPol3', 'kPol3', 'kPol3', 'kPol3'] # background function. If a single value is provided, it will be used for all pt bins.
    SgnFunc: 'kGaus' # signal function. If a single value is provided, it will be used for all pt bins.
    BkgFuncVn: 'kLin' # background function for vn. If a single value is provided, it will be used for all pt bins.
    
    #_________________________________________________________________________________________________________________________
    # Optional fit configurations, if not set, the default values will be used. If single value is provided, it will be used for all pt bins.
    #FixMean: 0 # 0: do not fix mean, 1: fix mean, default: 0
    #MeanFile: '' # default: ''
    #BoundMean: 0 # 0: Do not set limits on mean range, 1: the mean is set to be between MassMin[i] and MassMax[i]
    #FixSigma: 0 # default: 0
    #FixSigmaFromFile: '' # default: ''
    #SigmaFile: '' # default: ''
    #SigmaMultFactor: 1. # default: 1
    #FixSigmaRatio: 0 # default: 0
    #SigmaRatioFile: "" # default: ""
    #NSigma4SB: 3 # optional
    Rebin: [ 2,    2,    2,    2,    2,    2,    2,    4,    4,    5,    5,    5,    6,    8,    8] # optional, default: 1
    #InclSecPeak: 0 # 0: do not include secondary peak, 1: include secondary peak, default: 0
    #SigmaSecPeak: [0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02] # optional, default: []. If InclSecPeak = 1, then SigmaSecPeak must be provided.
    #SigmaFileSecPeak: '' # optional, default: ''
    #SigmaMultFactorSecPeak: 1. # optional, default: 1
    #FixSigmaToFirstPeak: 0 # 0: do not fix sigma to the first peak, 1: fix sigma to the first peak, default: 0
    #enableRef: false #reflection for D0. 
    #ReflFunc: "2gaus" # reflection function, default: "2gaus". D0 specific, not available for others
    #reflFile: ''
    # if `enableRef` is set to `true`,  and `ReflFile` is empty, then `ReflFile` will be aotumatically filled.
    # if `ReflFile` is filled, then it will use the filled one
    #__________________________________________________________________________________________________________________________
